arabic-reshaper==3.0.0
arrow==1.2.3
asgiref==3.6.0
asn1crypto==1.5.1
automium==0.2.6
automium-web==0.1.1
backoff==2.2.1
branca==0.6.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
cryptography==40.0.2
cssselect2==0.7.0
cv==1.0.0
cycler==0.11.0
distlib==0.3.6
Django==4.1.5
django-cors-headers==3.14.0
django-crispy-forms==2.0
django-filter==23.1
django-pendulum==0.1.6rc4
django-widget-tweaks==1.4.12
filelock==3.9.0
Flask==2.2.2
folium==0.14.0
fonttools==4.39.4
html5lib==1.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
legacy==0.1.6
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.1
numpy==1.24.1
opencage==2.3.0
oscrypto==1.3.0
packaging==23.1
phonenumbers==8.13.17
Pillow==9.4.0
platformdirs==2.6.2
pycparser==2.21
pyHanko==0.18.1
pyhanko-certvalidator==0.22.0
pyparsing==3.0.9
pypdf==3.8.1
pypng==0.20220715.0
python-bidi==0.4.2
python-dateutil==2.8.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.4.2
reportlab==3.6.12
requests==2.31.0
scikit-learn==1.2.2
scipy==1.10.1
sequential==1.0.0
six==1.16.0
sqlparse==0.4.3
svglib==1.5.1
threadpoolctl==3.1.0
tinycss2==1.2.1
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.3
uritools==4.0.1
urllib3==1.26.15
virtualenv==20.17.1
virtualenvwrapper-win==1.2.7
webencodings==0.5.1
Werkzeug==2.2.2
xhtml2pdf==0.2.10
