{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Members</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th><h5>Name</h5></th>
                                                <th><h5>Baptism Details</h5></th>
                                                <th><h5>Confirmation Details</h5></th>
                                                <th><h5>Marriage Details</h5></th>
                                                <th><h5>View</h5></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in stu %}
                                            <tr>
                                                <td>{{i.name}}</td>
                                                <td><button type="button" class="btn mb-1 btn-success"><a href="{% url 'Baptism_details_one' i.id %}"  >Add Baptism Details</a></button></td>
                                                <td><button type="button" class="btn mb-1 btn-success"><a href="{% url 'confirmation_details_one' i.id %}" >Add Confirmation Details</a></button></td>

                                                <td> <button type="button" class="btn mb-1 btn-success"><a href="{% url 'marriage_details_one' i.id %}" >Add Marriage Details</a></button></td>
                                                <td><button type="button" class="btn mb-1 btn-success"><a href="{% url 'view_member_details' i.id %}" >view</a></button></td>

                                            </tr>
{% endfor %}
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
{% endblock %}